<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{shared/header.html :: content}">
<head>
    <meta charset='utf-8'>
    <title>Novus Catalog - Edit Passwords</title>
    <link href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
</head>
<body>
<section layout:fragment="content">
    <!-- Errors block at top -->
    <div th:if="${allErrors != null}">
        <div class="alert alert-danger">
        <p>The following error(s) must be corrected before continuing:</p>
            <ul>
                <li th:each="err : ${allErrors}" th:text="${err}"></li>
            </ul>
        </div>
    </div>
    <div class="row subHeading">
        <div class="span12"><h4>Edit Passwords</h4></div>
    </div>
    <form th:object="${formData}" th:action="@{/edit-password}" method="post">
        <div class="row">
            <div class="span3">Existing Mentor Password:</div>
            <div class="span6">
                <div id="oldMentorPwd-group" class="control-group">
                    <div class="controls">
                        <input type="password" aria-label="" id="oldMentorPassword" name="oldMentorPassword"
                               th:value="*{oldMentorPassword}">
                        <span id="oldMentorTogglePwd" class="fa fa-fw fa-eye field_icon"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span3">New Mentor Password:</div>
            <div class="span6">
                <div id="newMentorPwd-group" class="control-group">
                    <div class="controls">
                        <input type="password" aria-label="" id="newMentorPassword" name="newMentorPassword"
                               th:value="*{newMentorPassword}">
                        <span id="newMentorTogglePwd" class="fa fa-fw fa-eye field_icon"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span3">Existing Administrator Password:</div>
            <div class="span6">
                <div id="oldAdminPwd-group" class="control-group">
                    <div class="controls">
                            <input type="password" aria-label="" id="oldAdminPassword" name="oldAdminPassword"
                                   th:value="*{oldAdminPassword}">
                        <span id="oldAdminTogglePwd" class="fa fa-fw fa-eye field_icon"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span3">New Administrator Password:</div>
            <div class="span6">
                <div id="newAdminPwd-group" class="control-group">
                    <div class="controls">
                        <input type="password" aria-label="" id="newAdminPassword" name="newAdminPassword"
                               th:value="*{newAdminPassword}">
                        <span id="newAdminTogglePwd" class="fa fa-fw fa-eye field_icon"></span>
                    </div>
                </div>
            </div>
        </div>
        <div id="buttons" class="row">
            <div class="span12">
                <button class="btn" type="submit" name="action" value="Save">
                    Submit
                </button>
                <button class="btn" type="submit" name="action" value="cancel" th:formaction="@{/cancel}">
                    Cancel
                </button>
            </div>
        </div>
    </form>
</section>
</body>
</html>