<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login - Student Record Database</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="/css/style.css" rel="stylesheet" media="screen"/>
</head>
<body>
    <form th:object="${formData}" th:action="@{/login}" method="post">
        <script src="https://code.jquery.com/jquery-latest.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <div class="container">
            <h3 id="loginHeading">Login</h3>
            <!-- Errors block at top -->
            <div th:if="${allErrors != null}">
                <div class="alert alert-danger">
                    <ul>
                        <li th:each="err : ${allErrors}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>
            <div id="loginFields" class="row">
                <div class="span3">
                    <h4 class="loginLabel">
                        Account Type
                    </h4>
                    <select id="account" name="account" th:field="*{account}">
                        <option th:each="option : ${accounts}" th:value="${option}" th:text="${option}"
                                th:selected="${option == selectedValue.accounts}"></option>
                    </select>
                </div>
                <div class="span3 offset1">
                    <h4 class="loginLabel">
                        Password
                    </h4>
                    <input type="password" aria-label="" id="password" name="password" th:field="*{password}">
                </div>
            </div>
            <button id="loginButton" class="btn btn-custom btn-large" type="submit">
                Login
            </button>
        </div>
    </form>
</body>
</html>