<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset='utf-8'>
    <title>Novus Catalog System</title>
    <script type="text/javascript">
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement("style");
            msViewportStyle.appendChild(
                document.createTextNode(
                    // @*-ms-viewport{width:auto!important}"*@
                )
            );
            document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
        }
    </script>

    <style type="text/css">
        #contentWrapper {
            width: 940px;
            margin: 0 auto;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="/css/style.css" rel="stylesheet" media="screen"/>
    <link href="/css/ui-lightness/jquery-ui-1.10.2.custom.min.css" rel="stylesheet" media="screen"/>

    <link rel="shortcut-icon" href="/img/favicon.ico"/>
</head>
<body>
<script src="/js/jquery-ui-1.10.2.custom/jquery-latest.js"></script>
<script src="/js/jquery-ui-1.10.2.custom/jquery-ui-1.10.2.custom.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript">
    var actionArray = [];

    function launchReportModal() {
        $("#studentReportModal").modal();
        $("#reportItems").val(actionArray.toString());
    }

    function launchDeleteModal() {
        $("#deleteStudentModal").modal();
        $("#deleteItems").val(actionArray.toString());
    }

    function deleteStudents() {
        $.ajax({
            type: "POST",
            url: "[[@{/delete}]]" + "?id=" + $("#deleteItems").val(),
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (response) {
                window.location.href = response.redirectToUrl;
            }, complete: function () {
                $("#deleteStudentModal").modal("hide");
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.error("Error:", textStatus, errorThrown);
                alert("An error occurred: " + textStatus); // handle errors
            }

        });

    }

    function exportStudents() {
        $.ajax({
            type: "POST",
            url: "[[@{/report}]]" + "?id=" + $("#reportItems").val(),
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (response) {
                location.href = "[[@{/downloadFile}]]";
            }, complete: function () {
                uncheckAll();
                $("#deleteDesktop").attr("disabled", "disabled");
                $("#reportDesktop").attr("disabled", "disabled");
                $("#studentReportModal").modal("hide");
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.error("Error:", textStatus, errorThrown);
                alert("An error occurred: " + textStatus); // handle errors
            }

        });
        actionArray.length = 0;

    }

    function checkAction(thisCheckbox, id) {
        var otherVersionString = "";
        var arrayIndex = jQuery.inArray(id, actionArray); // Position within the current array

        if ($(thisCheckbox).hasClass("desktopCheckbox")) {
            otherVersionString = "#student_M_" + id;
        } else {
            otherVersionString = "#student_D_" + id;
        }

        if ($(thisCheckbox).is(":checked")) {
            if (arrayIndex == -1) {
                actionArray.push(id);
            }
            $(otherVersionString).attr('checked', true);
        } else {
            var length = actionArray.length;

            if (arrayIndex != -1) {
                actionArray.splice(arrayIndex, 1);
            }
            $(otherVersionString).attr('checked', false);
        }
        toggleControls();

    }

    function uncheckAll() {
        $('input[type="checkbox"]').prop('checked', false);
    }

    function toggleControls() {

        if (actionArray.length) {
            $("#deleteDesktop").removeAttr("disabled", "disabled");
            $("#reportDesktop").removeAttr("disabled", "disabled");
            $("#deleteMobile").removeAttr("disabled", "disabled");
            $("#reportMobile").removeAttr("disabled", "disabled");
        } else {
            $("#deleteDesktop").attr("disabled", "disabled");
            $("#reportDesktop").attr("disabled", "disabled");
            $("#deleteMobile").attr("disabled", "disabled");
            $("#reportMobile").attr("disabled", "disabled");
        }

    }

    $(function () {
        $("#oldMentorTogglePwd").click(function () {
            $(this).toggleClass("fa-eye fa-eye-slash");
            var type = $(this).hasClass("fa-eye-slash") ? "text" : "password";
            $("#oldMentorPwd").attr("type", type);
        });

        $("#newMentorTogglePwd").click(function () {
            $(this).toggleClass("fa-eye fa-eye-slash");
            var type = $(this).hasClass("fa-eye-slash") ? "text" : "password";
            $("#newMentorPwd").attr("type", type);
        });

        $("#oldAdminTogglePwd").click(function () {
            $(this).toggleClass("fa-eye fa-eye-slash");
            var type = $(this).hasClass("fa-eye-slash") ? "text" : "password";
            $("#oldAdminPwd").attr("type", type);
        });

        $("#newAdminTogglePwd").click(function () {
            $(this).toggleClass("fa-eye fa-eye-slash");
            var type = $(this).hasClass("fa-eye-slash") ? "text" : "password";
            $("#newAdminPwd").attr("type", type);
        });
    });

</script>
<div class="container">
    <div id="header">
        <a href="index.php"><h3 class="hidden-phone">Novus Catalog System</h3></a>
        <div class="rightNav hidden-phone">
            <div class="btn-group">
                <!-- Show these buttons only if admin -->
                <div th:if="${session.account == 'Administrator'}">
                    <button class='btn' th:onclick="'location.href=\'' + @{/edit-password} + '\''">Edit Passwords
                    </button>
                    <button class="btn" th:onclick="'location.href=\'' + @{/logout} + '\''">Logout</button>
                </div>
                <div th:if="${session.account == 'Mentor'}">
                    <button class="btn" th:onclick="'location.href=\'' + @{/logout} + '\''">Logout</button>
                </div>
            </div>
        </div>
        <div th:if="${session.account == 'Administrator'}">
            <h4 class='hidden-phone'>Admin</h4>
        </div>
        <div th:if="${session.account == 'Mentor'}">
            <h4 class='hidden-phone'>Mentor</h4>
        </div>
    </div>
</div>
<form id="deleteStudent" method="get">
    <div id="deleteStudentModal" class="modal hide fade">
        <input type="hidden" name="deleteItems" id="deleteItems"/>
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Delete Student Records</h3>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to delete the selected student records?</p>
        </div>
        <div class="modal-footer">
            <input type="button" class="btn" value="Confirm" onclick="deleteStudents();"/>
            <input type="button" class="btn" data-dismiss="modal" value="Cancel"/>
        </div>
    </div>
</form>

<form id="studentReport" method="get">
    <div id="studentReportModal" class="modal hide fade">
        <input type="hidden" name="reportItems" id="reportItems"/>
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Create A Report</h3>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to create this report?</p>
        </div>
        <div class="modal-footer">
            <input type="button" class="btn" value="Confirm" onclick="exportStudents();"/>
            <input type="button" class="btn" data-dismiss="modal" value="Cancel"/>
        </div>
    </div>
</form>

<div class="container body-content">
    <!--@RenderBody()-->
    <section layout:fragment="content"></section>
    <hr/>
</div>
</body>
</html>