<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{shared/header.html :: content}">
<head>
    <meta charset='utf-8'>
    <title>Novus Catalog - Student Registration</title>
</head>
<body>
<section layout:fragment="content">
    <div id="desktopButtons" class="row buttonDiv hidden-phone">
        <div class="span12">
            <div class="row">
                <div class="span2">
                    <button class="btn btn-custom" th:onclick="'location.href=\'' + @{/registration} + '\''">
                        <i class="icon-plus icon-white"></i> Add New Student
                    </button>
                </div>
                <div id="desktopButtons1" class="span4 offset6">
                    <div class="btn-group">
                        <!-- Show these buttons only if admin -->
                        <div th:if="${session.account == 'Administrator'}">
                            <button class='btn' id='deleteDesktop' onclick='launchDeleteModal();' disabled><i
                                    class='icon-trash icon-black'></i> Delete Students
                            </button>
                            <button class='btn' id='reportDesktop' onclick='launchReportModal();' disabled><i
                                    class='icon-download icon-black'></i> Generate Report
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id='recordTable' class='row hidden-phone'>
        <div class='span12'>
            <table class='table pull-center table-striped table-bordered'>
                <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Date Enrolled</th>
                    <th>Attends</th>
                    <th class='centerCol'>Edit</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="Students : ${allStudentList}">
                    <td class='centerCol'>
                        <input type='checkbox' class='desktopCheckbox'
                               th:name="'student_D_' + ${Students.id}"
                               th:id="'student_D_' + ${Students.id}"
                               th:value="${Students.id}"
                               th:onclick="'checkAction(this,' + ${Students.id} + ');'"/>
                    </td>
                    <td th:text="${Students.firstName} + ' ' + ${Students.lastName}"></td>
                    <td th:text="${Students.gender}"></td>
                    <td th:text="${Students.dateEnrolled}"></td>
                    <td th:text="${Students.attendance}"></td>
                    <td class='centerCol'>
                        <button class='btn btn-custom centerCol'
                                th:onclick="'location.href=\'' + @{/edit(id=${Students.id})} + '\''" >
                            <i class='icon-pencil icon-white'></i> Edit
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
</body>
</html>