<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{shared/header.html :: content}">
<head>
    <meta charset='utf-8'>
    <title>Novus Catalog - Edit Student</title>
    <link th:href="@{/css/validation-rules.css}" rel="stylesheet"/>
    <link href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css"/>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
</head>
<body>
<section layout:fragment="content">
    <!-- Errors block at top -->
    <div th:if="${allErrors != null}">
        <div class="alert alert-danger">
            <p>The following error(s) must be corrected before continuing:</p>
            <ul>
                <li th:each="err : ${allErrors}" th:text="${err}"></li>
            </ul>
        </div>
    </div>
    <div class="row subHeading">
        <div class="span12"><h4 class="">Edit Student</h4></div>
    </div>
    <form th:object="${formData}" th:action="@{/edit}" method="post">
        <div class="row">
            <div class="span2">First Name: *</div>
            <div class="span6">
                <div id="fName-group" class="control-group">
                    <div class="controls">
                        <input type="text" aria-label="" id="firstName" name="firstName" th:field="*{firstName}" class="form-control" th:classappend="${#fields.hasErrors('firstName')} ? 'is-invalid'" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span2">Last Name: *</div>
            <div class="span6">
                <div id="lName-group" class="control-group">
                    <div class="controls">
                        <input type="text" aria-label="" id="lastName" name="lastName" th:field="*{lastName}" class="form-control" th:classappend="${#fields.hasErrors('lastName')} ? 'is-invalid'" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span2">Street Address:</div>
            <div class="span5">
                <input type="text" aria-label="" id="address" name="address" th:value="*{address}">
            </div>
        </div>
        <div class="row">
            <div class="span2">City:</div>
            <div class="span3">
                <input type="text" aria-label="" id="city" name="city" th:value="*{city}">
            </div>
        </div>
        <div class="row">
            <div class="span2">Department:</div>
            <div class="span2">
                <select id="department" name="department" th:field="*{department}">
                    <option th:each="option : ${departments}" th:value="${option}" th:text="${option}"
                            th:selected="${option == selectedValue.departments}"></option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="span2">Gender: *</div>
            <div class="span2">
                <select id="gender" name="gender" th:field="*{gender}" class="form-control" th:classappend="${#fields.hasErrors('gender')} ? 'is-invalid'">
                    <option value="">--Please select--</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option th:each="option : ${options}" th:value="${option}" th:text="${option}"></option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="span2">School:</div>
            <div class="span5">
                <input type="text" aria-label="" id="school" name="school" th:value="*{school}">
            </div>
        </div>
        <div class="row">
            <div class="span2">Parent's First Name:</div>
            <div class="span3">
                <input type="text" aria-label="" id="parentFirstName" name="parentFirstName" th:value="*{parentFirstName}">
            </div>
        </div>
        <div class="row">
            <div class="span2">Parent's Last Name:</div>
            <div class="span3">
                <input type="text" aria-label="" id="parentLastName" name="parentLastName" th:value="*{parentLastName}">
            </div>
        </div>
        <div class="row">
            <div class="span2">Phone Number:</div>
            <div class="span3">
                <input type="text" aria-label="" id="phoneNumber" name="phoneNumber" th:value="*{phoneNumber}">
            </div>
        </div>
        <div class="row">
            <div class="span2">Date Enrolled: *</div>
            <div class="span6">
                <div id="date-group" class="control-group">
                    <div class="controls">
                        <input type="text" aria-label="" id="date-picker" name="dateEnrolled" th:field="*{dateEnrolled}" th:attr="data-date-format=${dateFormat}" class="form-control" th:classappend="${#fields.hasErrors('dateEnrolled')} ? 'is-invalid'" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span2">Attendance: *</div>
            <div class="span2">
                <select id="attendance" name="attendance" th:field="*{attendance}" class="form-control" th:classappend="${#fields.hasErrors('attendance')} ? 'is-invalid'">
                    <option value="">--Please select--</option>
                    <option value="Never">Never</option>
                    <option value="Rare">Rare</option>
                    <option value="Occasional">Occasional</option>
                    <option value="Frequent">Frequent</option>
                    <option th:each="option : ${options}" th:value="${option}" th:text="${option}"></option>
                </select>
            </div>
        </div>
        <div id="buttons" class="row">
            <div class="span12">
                <button class="btn" type="submit" name="action" value="save">
                    Submit
                </button>
                <button class="btn" type="submit" name="action" value="cancel" th:formaction="@{/cancel-handler}">
                    Cancel
                </button>
            </div>
        </div>
        <script th:inline="javascript">
            $(function () {
                $("#date-picker").datepicker({
                    maxDate: 0
                });
            })
        </script>
    </form>
</section>
</body>
</html>